.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 2rem;
  }

.hero img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
    border: 3px solid #fff;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    max-width: 600px;
    font-size: 1.2rem;
    color: #000000;
}

.services {
    padding: 4rem 2rem;
    text-align: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #ffffff;
    color: #000000;
}

#custom-instruments-card:hover {
  background-color: #dbb448;
}

#social-impact-card:hover {
  background-color: #06951b;
}

#diy-tools-card:hover {
  background-color: #0c91ba;
}

.service {
  scroll-margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
}

.service button {
  color: #ffffff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.service button {
  background-color: #111111;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  border-style: dashed;
  border-width: 7px;
}

.service button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

#custom-instruments {
  border-bottom: 1px solid #333;
  background-color: #000000;
  color: #ffffff;
}

#custom-instruments h2 {
  color: #dbb448;
}

#custom-instruments-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

#custom-instruments img {
  height: 100px;
  object-fit: cover;
  margin-bottom: 1rem;
}

#custom-instruments img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

#custom-instruments img:active {
  transform: scale(0.95);
}

#custom-instruments button {
  background-color: #dbb448;
  border-color: #111111;
}

#social-impact {
  border-bottom: 1px solid #333;
}

#social-impact h2 {
  color: #06951b;
}

#social-impact button {
  background-color: #06951b;
  border-color: #ffffff;
}

#diy-tools {
  background-color: #111111;
  color: #ffffff;
}

#diy-tools h2 {
  color: #039ece;
}

#diy-tools button {
  background-color: #039ece;
  border-color: #111111;
}