h1 {
    text-align: center;
    margin-bottom: 20px;
}

.role {
    font-size: 1.2em;
    font-weight: bold;
}

.sub-role {
    display: block;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-container section {
    text-align: center;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    border-bottom: 1px solid #333;
}

.team a {
    color: #000000;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 600;
}

.team a:hover {
    color: #04a0cf;
}

.memberpicture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
    filter: grayscale(100%);
}

.highlight-member {
    filter: grayscale(0%) drop-shadow(0 4px 24px #00000088) brightness(1.1) !important;
    transition: 
        filter 0.4s cubic-bezier(0.4, 0.2, 0.2, 1),
        transform 0.4s cubic-bezier(0.4, 0.2, 0.2, 1),
        box-shadow 0.4s cubic-bezier(0.4, 0.2, 0.2, 1);
    z-index: 2;
    box-shadow: 0 8px 32px 0 #04a0cf33;
}

.memberpicture:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    filter: grayscale(0%) drop-shadow(0 4px 24px #00000088) brightness(1.1) !important;
    box-shadow: 0 8px 32px 0 #04a0cf33;
    z-index: 2;
    cursor: pointer;
}

#group-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 2rem;
    background-color: #111111;
}

#group-photo img {
    filter: grayscale(100%);
    transition: transform 0.3s, filter 0.3s;
    width: 25%;
    height: auto;
    margin: 20px 0;
    border-radius: 5%;
}

#group-photo img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    filter: grayscale(0%) drop-shadow(0 4px 24px #00000088) brightness(1.1) !important;
    box-shadow: 0 8px 32px 0 #04a0cf33;
    z-index: 2;
    cursor: pointer;
}

@media (max-width: 768px) {
    #group-photo img {
        width: 100%;
    }
}