.role {
    font-size: 1.5em;
    font-weight: bold;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-container section {
    text-align: center;
}

.memberpicture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
}

.email-mobile {
    display: none;
}

@media (orientation: portrait) {
    h1 {
        top: 5vh;
        margin-top: 1vh;
    }
    
    .team-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5vw;
    }

    .team-container section {
        width: 40vw;
        max-width: 180px;
    }

    .memberpicture {
        width: 30vw;
        height: 30vw;
        max-width: 120px;
        max-height: 120px;
    }

    .team-container section p {
        font-size: 4vw;
        margin: calc(0.5vh + 1vw) 0;
    }

    .team-container section p.role {
        font-size: 5vw;
        margin: calc(0.625vh + 1.25vw) 0;
    }

    .email {
        display: none;
    }

    .email-mobile {
        display: block;
    }
}